@model IEnumerable<ASP.NET_Core_и_AJAX._Guest_Book.Models.Message>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <div class="my_nav">
        <a asp-controller="Home" asp-action="Guest" class="active">Гостевая книга</a>
        <a data_dialog_title="Register model" asp-action="Register" asp-controller="Account" id="RegisterDialog">Регистрация</a>

        @if (Context.Session.GetString("Login") == null)
        {
            <a style="float: right;" asp-controller="Account" asp-action="Login" id="LoginDialog" data_dialog_title="Login model">Вход</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="addMessage" id="addMessageDialog" data_dialog_title="Add Message model">Добавить отзыв</a>
            <a style="float: right;" asp-controller="Home" asp-action="Logout">Выход</a>
            <a class="active" style="float: right;">Здравствуйте, @Context.Session.GetString("Login")</a>
        }

    </div>

</header>
<br>
<div>
    @foreach (var mess in ViewBag.Message)
    {
        <br />
        <div class="div_mess">
            <label class="label1">@mess.User.Login</label>
            <p class="p1">@mess.MessageText</p>
            <label class="label2">@mess.MessageDate</label>
        </div>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".viewDialog").on("click", function (e) {
                e.preventDefault();

                $("<div></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        modal: true
                    })
                    .load(this.href);
            });

            $("#RegisterDialog").on("click", function (e) {
                e.preventDefault();

                $("<div id='dialogContent' style='width: 10px'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        width: "400px",
                        resizable: false,
                        modal: true,
                        buttons: [{
                            class: "input_subm",
                            text: "Сохранить",
                            click: function () {
                                $.ajax({
                                    url: "@Url.Action("Register", "Account")",
                                    type: "POST",
                                    data: $('form').serialize(),
                                    datatype: "json",
                                    success: function (result) {
                                        $("#dialogContent").html(result);
                                    }
                                });
                            }
                        }]
                    });
            });

            $("#LoginDialog").on("click", function (e) {
                e.preventDefault();

                $("<div id='dialogContent'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        width: "400px",
                        resizable: false,
                        modal: true,
                        buttons: [{
                            class: "input_subm",
                            text: "Войти",
                            click: function () {
                                $.ajax({
                                    url: "@Url.Action("Login", "Account")",
                                    type: "POST",
                                    data: $('form').serialize(),
                                    datatype: "json",
                                    success: function (result) {
                                        $("#dialogContent").html(result);
                                    }
                                });
                            }
                        }]
                    });
            });


            $("#addMessageDialog").on("click", function (e) {
                e.preventDefault();

                $("<div id='dialogContent'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        width: "500px",
                        resizable: false,
                        modal: true,
                        buttons: [{
                            class: "input_subm",
                            text: "Отправить",
                            click: function () {
                                $.ajax({
                                    url: "@Url.Action("addMessage", "Home")",
                                    type: "POST",
                                    data: $('form').serialize(),
                                    datatype: "json",
                                    success: function (result) {
                                        $("#dialogContent").html(result);
                                        alert("Сообщение успешно добавлено!");
                                    }
                                });
                            }
                        }]
                    });
            }); 
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}